<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>List of Flights</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Flight Number</th>
            <th>Carrier Name</th>
            <th>Source Airport</th>
            <th>Destination Airport</th>
            <th>Arrival Time </th>
            <th>Depature Time</th>
            <th>Seat Capacity</th>
            <th>Available Seats</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flight of flights|async">
            <td>{{flight.flightNo}}</td>
            <td>{{flight.carrierName}}</td>
            <td>{{flight.srcAirport}}</td>
            <td>{{flight.dstnAirport}}</td>
            <td>{{flight.arrDateTime}}</td>
            <td>{{flight.deptDateTime}}</td>
            <td>{{flight.seatCapacity}}</td>
            <td>{{flight.availableSeats}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button (click)="back()" class="btn btn-primary">Back to User Panel</button>

