
  <div class="view" style="background-image: url('assets/aeroplane-bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div style="padding: 50px;" class="d-flex align-items-center justify-content-center">
       <div class="shadow-lg p-3 mb-5 bg-dark rounded" id="box" style="opacity: 1;">   
        <div class="container">
          <div class="row justify-content-center">
              <h2  class="font-weight-bold" style="color: white">Welcome To Qunniox Air Services</h2>
          </div>
        </div><br>
        <div class="container">
          <div class="content-center">
            <div class="row">
              <div class="col-sm-6" style="text-align: center;">
                  <button type = "button" class = "btn btn-light" (click)="viewFlight()">View Flights Available</button><br><br>
                  <button type = "button" class = "btn btn-light" (click)="viewAirport()">View Airports Available</button><br><br>
                  <button type = "button" class = "btn btn-light" (click)="getBookingsList()">View Booking</button><br><br>
              </div>
              <div class="col-sm-6" style="text-align: center;">
               <button type = "button" class = "btn btn-light" (click)="createBooking()">Create Booking</button><br><br>
               <button type = "button" class = "btn btn-light" (click)="updateBooking()">Update Booking</button><br><br>
               <button type = "button" class = "btn btn-light" (click)="getBooking()">Search Booking</button><br><br>
          </div>
          </div>
      </div>
    </div>
 
  
  
  </div>
    
