<div>
        <h5><b>Your Booking has been confirmed.</b></h5>
        <b>Booking Id:</b> <br><br>
        <div>
            <b>Flight Details:</b><br>
            Number:<br>
            Source:<br>
            Destination: <br>
            Departure: <br>
            Arrival: <br>
        </div><br>
        <div>
            <b>Passenger Details:</b><br>
            <table>
                <tr>
                    <td>Passenger:<br>
                        Name: <br>
                        Age: <br>
                        ID: <br>
                        luggage:<br>
                    </td>
                </tr>
            </table>
        </div><br>
        <button class="btn btn-success"(click)="gotoList()">Confirm</button>
        
    
</div>
  <footer class="navbar navbar-light bg-light fixed-bottom" style="padding: 10px;">
    Flight Reservation System
    <span style="float: right;">2020</span>
</footer>
