<h2 style="text-align: center;">Flight Details</h2> 
<hr/>
<div *ngIf="flight" style="margin-left: auto;margin-right: auto;">

  <div>
    <label><b>Carrier Name: </b></label> {{flight.carrierName}}
  </div>
  <div>
    <label><b>Seat Capacity: </b></label> {{flight.seatCapacity}}
  </div>  
  <div>
    <label><b>Source Airport </b></label> {{flight.srcAirport}}
  </div>
  <div>
    <label><b>Destination Airport</b></label> {{flight.dstnAirport}}
  </div>
  <div>
    <label><b>Arrival Time</b></label> {{flight.arrDateTime}}
  </div>
  <div>
    <label><b>Depature Time</b></label> {{flight.deptDateTime}}
  </div>
  <div>
    <label><b>Available Seats</b></label> {{flight.availableSeats}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Flight List</button><br>
